<div class="col-xs-12 col-md-12 mb-3">
  <label>Title:</label>
  <input name="article[title]" type="text" class="form-control" placeholder="Enter article title" value="<%= @article.title %>" autocomplete="off">
</div>

<div class="col-xs-12 col-md-12 mb-3">
  <label>Content:</label>
  <input name="article[content]" type="text" class="form-control" placeholder="Enter article content" value="<%= @article.content %>" autocomplete="off">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
