<form class="form-position" action="/sign_in" method="POST">
  <div class="col-xs-12 col-md-5 mb-3">
    <label for="user_full_name" class="form-label">Username:</label>
    <input name="user[full_name]" type="text" class="form-control" value="<%= @user.full_name %>" autocomplete="on">
  </div>

  <%= erb 'form_user'.to_sym %>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
